<div class="wrapp">
  <div class="new-item">
    <div class="wrapp-title">
      <p class="title">Add new item</p>
      <div class="company">
        <p>Company:</p>
        <img
          class="company-logo"
          *ngIf="userService.getUserName() == 'AdminDM'"
          src="https://res.cloudinary.com/auctionabh/image/upload/v1580406365/ShopAppLogoPicture/Dm_Logo_dvngky.svg"
        />
        <img
          class="company-logo"
          *ngIf="userService.getUserName() == 'AdminCM'"
          src="https://res.cloudinary.com/auctionabh/image/upload/v1580406379/ShopAppLogoPicture/CM-color_vs5yx1.png"
        />
      </div>
    </div>

    <form [formGroup]="add">
      <input
        class="input-text"
        type="text"
        placeholder="Item Name"
        formControlName="name"
      />
      <input
        class="input-number"
        type="number"
        placeholder="Price (BAM)"
        formControlName="price"
      />
      <textarea
        class="input-description"
        placeholder="Description"
        formControlName="description"
        maxlength="65535"
      ></textarea>

      <div class="image-button">
        <button
          type="button"
          class="file-upload-button"
          [ngClass]="{ showButton: enableSaveCardButton }"
        >
          <fa-icon [icon]="faPlusCircle"></fa-icon>
          ADD ITEM PHOTO
          <input type="file" (change)="onFileSelect($event)" />
        </button>
        <img class="item-img" src="{{ item_image }}" />
        <p class="message">{{ messagePhoto }}</p>
      </div>

      <div class="wrapp-categories-relative">
        <div class="wrapp-categories" (click)="showHideCategories()">
          <p>{{ picked_category }}</p>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="categories" [ngClass]="{ show: show_categories }">
          <div
            *ngFor="let category of categories"
            class="category"
            (click)="getSubcategoriesAndBrands(category)">
            {{ category.name }}
          </div>
        </div>
      </div>

      <div *ngIf="subcategories != undefined" class="wrapp-subcategories-relative">
        <div class="wrapp-subcategories" (click)="showHideSubCategories()">
          <p>{{ picked_subcategory }}</p>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="subcategories" [ngClass]="{ show: show_subcategories }">
          <div
            *ngFor="let subcategory of subcategories"
            class="subcategory"
            (click)="pickSubcategory(subcategory)">
            {{ subcategory.name }}
          </div>
        </div>
      </div>

      <div *ngIf="brands != undefined" class="wrapp-brands-relative">
        <div class="wrapp-brands" (click)="showHideBrands()">
          <p>{{ picked_brand }}</p>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="brands" [ngClass]="{ show: show_brands}">
          <div
            *ngFor="let brand of brands"
            class="brand"
            (click)="pickBrand(brand)">
            {{ brand.name }}
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
