@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
div,
p {
  margin: 0;
  padding: 0;
  color: white;
}
img {
  width: 85%;
  height: 60%;
  object-fit: cover;
}
.brand {
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vw;
}
.brand-logo {
  background-color: olive;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 3vw "Dancing Script", cursive;
}
.brand-moto {
  font: 200 2vw "Poppins", sans-serif;
  letter-spacing: 0.125em;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
  text-align: center;
}
.brand-image-moto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .brand {
    height: 45vw;
  }
  .brand-moto {
    font-size: 3vw;
  }
  img {
    width: 95%;
  }
  .brand-logo {
    font-size: 6vw;
  }
}
