.header-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3f3f3f;
  height: 30px;
  font: 400 8px 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  padding-right: 15px;
  padding-left: 400px;
  color: #ffffff;
}
.info {
  margin: 0;
  padding: 0;
  font: 400 11px 'Poppins', sans-serif;
}
.links, .header-down{
  margin: 0;
}
.links a {
  color: #ffffff;
  text-decoration: none;
}
.links label {
  font-size: 7px;
  color: #bebdbd;
  margin-left: 2px;
  margin-right: 2px;
}
.links a:hover, .header-down a:hover, .header-down > div:hover > fa-icon {
  color: olive;
}
.links .welcome-label {
  margin-right: 10px;
  font: 400 11px 'Poppins', sans-serif;
}
.header-down a {
  text-decoration: none;
  color: #3f3f3f;
  margin-right: 30px;
}
.header-down {
  height: 50px;
  font: 200 17px 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 0 0 rgba(128, 128, 0, 0.158);
  background: rgba(209, 209, 7, 0.11);
}
.header-down a.active, .header-down > div > fa-icon.active {
  color: olive;
  font-weight: 400;
}
.header-down > div {
  position: relative;
  margin-left: 20px;
}
.header-down > div > fa-icon {
  position: absolute;
  right: 150px;
}
