<div class="header">
  <div class="header-up">
    <p class="info">
      SHOP WISELY AND SAVE MONEY | FREE DELIVERY OVER
      {{ 20 | currency: "BAM" }} IN YOUR CITY
    </p>
    <div class="links">
      <a *ngIf="!userService.isUserLoggedIn()" [routerLink]="['/home/login']"
        >Login</a
      >
      <label *ngIf="!userService.isUserLoggedIn()"> or </label>
      <a *ngIf="!userService.isUserLoggedIn()" [routerLink]="['/home/register']"
        >Create an Account</a
      >
      <label class="welcome-label" *ngIf="userService.isUserLoggedIn()"
        >Welcome {{ userService.getUserName() }}!</label
      >
      <a
        *ngIf="userService.isUserLoggedIn()"
        [routerLink]="['/home']"
        (click)="logout()"
        >Logout</a
      >
    </div>
  </div>

  <div class="header-down">
    <a [routerLink]="['/home']" routerLinkActive="active">HOME</a>
    <a [routerLink]="['/shop']" routerLinkActive="active">SHOP</a>
    <div *ngIf="userService.getRole() == 'admin'">
    <a [routerLink]="['/add']" routerLinkActive="active">ADD NEW ITEM</a>
    <fa-icon [ngClass]="{active: router.url == '/add'}" [icon]="faPlusCircle"></fa-icon>
  </div>
  </div>
</div>
