div,
p {
  margin: 0;
}
.wrapp {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}
.title {
  font: 200 30px "Poppins", sans-serif;
  border-bottom: 1px solid olive;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product {
  display: flex;
  flex-direction: column;
}
.product-image {
  width: 100%;
  height: 21.875em;
  object-fit: contain;
  margin-right: 20px;
}
.company-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  bottom: 25px;
  right: 30px;
}
.image-company {
  position: relative;
}
.load {
  text-align: end;
}
.load > .button-load {
  background: olive;
  border: none;
  font: 200 10px "Poppins", sans-serif;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: 20px;
}
.button-load.hide {
  display: none;
}
.load > .button-load:hover {
  transform: translateX(1%) translateY(5%);
  cursor: pointer;
  background-color: rgb(182, 182, 3);
}
.product-name {
  font: 700 15px "Poppins", sans-serif;
}
.product-price {
  font: 200 15px "Poppins", sans-serif;
  color: olive;
}
