<div class="wrapp">
  <p class="title">{{ title }}</p>
  <p class="message">{{ message_products_empty }}</p>
  <div *ngIf="products != undefined" class="products">
    <div class="product" *ngFor="let product of products">
      <div class="image-company">
        <img class="product-image" src="{{ product.image }}" />
        <img
          class="company-logo"
          *ngIf="product.company.name == 'Drogerie Markt (DM)'"
          src="https://res.cloudinary.com/auctionabh/image/upload/v1580406365/ShopAppLogoPicture/Dm_Logo_dvngky.svg"
        />
        <img
          class="company-logo"
          *ngIf="product.company.name == 'Cosmetic Market (CM)'"
          src="https://res.cloudinary.com/auctionabh/image/upload/v1580406379/ShopAppLogoPicture/CM-color_vs5yx1.png"
        />
      </div>

      <p class="product-name">{{ product.name }}</p>
      <p class="product-price">{{ product.price | currency: "BAM" }}</p>
    </div>
  </div>
  <div class="load">
    <input
      class="button-load"
      [ngClass]="{ hide: hide_button }"
      type="button"
      value="LOAD MORE"
      (click)="getNextPage()"
    />
  </div>
</div>
