div,
p {
  margin: 0;
  padding: 0;
}
.message {
  display: flex;
  align-items: center;
  height: 4vw;
  font: 400 1.3vw "Poppins", sans-serif;
  border-radius: 4px;
}
.message.success {
  background-color: rgb(189, 247, 189);
}
.message.error {
  background-color: rgb(250, 189, 189);
}
.message > fa-icon.success,
.message > p.success {
  color: green;
}
.message > fa-icon.error,
.message > p.error {
  color: darkred;
}
.message > fa-icon {
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

@media only screen and (max-width: 500px) {
  .message {
    height: 8vw;
    font-size: 3vw;
  }
  .message > fa-icon {
    font-size: 3vw;
  }
}
