div,
p {
  margin: 0;
  padding: 0;
}
.message {
  display: flex;
  align-items: center;
  height: 50px;
  font: 400 17px "Poppins", sans-serif;
  border-radius: 4px;
}
.message.success {
  background-color: rgb(189, 247, 189);
}
.message.error {
  background-color: rgb(250, 189, 189);
}
.message > fa-icon.success,
.message > p.success {
  color: green;
}
.message > fa-icon.error,
.message > p.error {
  color: darkred;
}
.message > fa-icon {
  font-size: 20px;
  margin-left: 13px;
  margin-right: 8px;
}
